[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fdapaceShiny"]
	path = fdapaceShiny
	url = https://github.com/cpossinger/fdapaceshiny
